#!/usr/bin/make -f

# export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS ?= hardening=+all

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --sbindir=/sbin --disable-shared \
		--with-root-libdir=/lib/$(DEB_HOST_MULTIARCH)

execute_before_dh_install:
	find -name "*.la" -delete
	rm debian/tmp/sbin/sg_write_buffer

# dh_dwz when run on f2fs-tools-udeb ends up installing the
# /usr/lib/debug/.dwz files into the udeb.  I think that's a bug,
# but for now, override it by just saying... just don't.
override_dh_dwz:
	dh_dwz -N f2fs-tools-udeb

test_printenv:
	printenv | sort
